html{
	width: 100%;
	margin: 0 auto;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}
html,
body{
	width: 100%;
	margin: 0 auto;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}
#main-container{
	height: 70px;
	background-color: 
}
.wraper{
	width: 1300px;
	margin: 0 auto;
}
#navigation{
	height: 70px;
}
#logo{
	width: 244px;
	height: 69px;
	margin-left: 30px;
	float: left;
}
#logo_img{
	background-image: url('../img/logo.jpg');
	width: 105px;
	height: 69px;
}
#search_section{
	width: 780px;
	float: left;
	height: 69px;
}
#search_icon{
	background-image: url('../img/search.png');
	width: 24px;
	height: 23px;
	margin-top: 24px;
	margin-left: 71px;
	float: left;
}
#search_form{
	margin-left: 24px;
	float: left;
	color: #272727;
}
#search_form input[type='text']{
	width: 650px;
	height: 66px;
	border: none;
	font-size: 17px;
	color: #272727;
}
#nav_user{
	width: 240px;
	height: 69px;
	float: left;
}
#nav_user img{
	margin-top: 18px;
	margin-left: 18px;
	float: left;
}
#nav_user_name{
	font-size: 17px;
	color: #272727;
	float: left;
	padding-top: 26px;
}
#nav_user_name>span{
	margin-left: 18px;
	float: left;
}
#nav_user_arrow_down{
	background-image: url('../img/nav_user_arrow_down.png');
	width: 11px;
	height: 6px;
	float: left;
	margin-top: 30px;
	margin-left: 12px;
}
#container{
	background-color: #d9d9d9;
}
#user_section{
	width: 244px;
	background-color: #262633;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	float: left;
	padding-top: 30px;
}
.user_wraper{
	padding-left: 55px;
}
#user_section_pic{
	float: left;
	margin-right: 25px;

}
#user_section_name{
	float: left;
}
#user_section_arrow_down{
	background-image: url('../img/nav_user_arrow_down.png');
	width: 11px;
	height: 6px;
	float: left;
	margin-left: 7px;
	margin-top: 3px;
}
#user_nav{
	list-style-type: none;
	width: 91%;
	margin-left: -50px;
}
#user_nav>li{
	color: #fff;
	padding: 16px;
	padding-left: 70px;
	margin: 0px;
	width: 75.5%;
}
#user_nav>a{
	
	text-decoration: none;
}
#user_nav>a>li>img{
	margin-right: 19px;
}
#user_nav>a>li{

	color: #fff;
	padding: 16px;
	padding-left: 70px;
	margin: 0px;
	width: 75.5%;
	
}
#user_nav>li:hover{
	background-color: #0e9193;
}
#user_nav>a>li:hover{
	background-color: #0e9193;
}
#file{
	background-image: url('../img/link.png');
	width: 20px;
	height: 17px;
}
#content{
	background-color: #d9d9d9;
	float: left;
}
.wraper_content{
	width: 950px;
	padding-top: 40px;
	padding-right: 70px;
	padding-bottom: 120px;
	padding-left: 70px;
}
#folders{
	color: #4f4f4f;
	letter-spacing: 1px;
	font-style: 18px;
	font-weight: 300;
	border-bottom: 1px solid #c9c9c9;
}
#folders a{
	color: #4f4f4f;
}
.main_title_folders{
	padding-bottom: 33px;
	font-size: 18px;
}

.folder{
	width: 143px;
	min-height: 172px;
	float: left;
	padding: 10px;
}
.folder:hover{
	background-color: #d3d3d3;
}
.folder_img{
	background-image: url('../img/folder.png');
	width: 76px;
	height: 60px;
	margin: 0 auto;
}
.title_folder{
	padding-top: 20px;
	font-size: 15px;
}
#files{
	margin-top: 60px;
	color: #4f4f4f;
	letter-spacing: 1px;
	font-style: 18px;
	font-weight: 300;
}
#files a{
	color: #4f4f4f;

}
.main_title_files{
	padding-bottom: 33px;
	font-size: 18px;
}
.file{
	width: 165px;
	height: 172px;
	float: left;
	padding: 10px;
}
.file:hover{
	background-color: #d3d3d3;
}
.file_img{

}
.title_file{
	padding-top: 20px;
	font-size: 15px;
	text-align: inherit;
}
.file_wrapper{
	width: 120px;
	max-height: 170px;
	margin: 0 auto;
	text-align: center;
}
.cleared{
	clear: both;
}
